/* background gradients */
/* css colour variables attached to the root element (html) */
:root {
  --blue-dark: #1967d2;
  --blue-light: #119da4;
  --red-dark: #ff2323;
  --red-light: #e66465;
  --green-dark: #289916;
  --green-light: #4d9f0c;
  --yellow-dark: #eaa000;
  --yellow-light: #ffc914;
  --blue-bg: #0c3d4f;
  --blue-fg: #e0ffff;
}

body {
  background-color: #0c3d4f;
  color: #e0ffff;
  height : 100vh;
  transition : all ease-in-out 2s;
  font-size: 16px / 1em;
  font-family: 'Kalam', cursive;
  font-weight: 400;
  line-height: 1.4;
}

/* radial gradient = middle, outside */
.bg-blue {
  background: radial-gradient(var(--blue-light), var(--blue-dark));
  transition : all ease-in-out 4s;
}
.bg-red {
  background: radial-gradient(var(--red-light), var(--red-dark));
}
.bg-green {
  background: radial-gradient(var(--green-light), var(--green-dark));
}
.bg-yellow {
  background: radial-gradient(var(--yellow-light), var(--yellow-dark));
  color : black;
}
.bg-yellow h1,
.bg-yellow h2,
.bg-yellow p,
.bg-yellow .button-input,
.bg-yellow .text-input, {
  color : black;
}




h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.6;
  color: #e0ffff;
}

h2 {
    font-size : 1.5rem;
    font-weight : 600;
    line-height : 1.5;
}


a {
  text-decoration: none;
  color: #e0ffff;
}

.hidden {
  visibility: hidden;
  height: 0;
}



/* general spacing */
header,
section {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}




/* header */
header {
  height : 25vh;
  display: flex;
  align-content: center;
  justify-content: center;
}
header h1 {
  align-self: center;
}




/* search form */
/* form label {
  font-weight: bold;
  font-size: 1.25rem;
  color: #fcfcfc;
  padding: 0.5rem 0;
  box-sizing: border-box;
} */


form {
  display: flex;
  align-items: flex-start;
}
.search-container {
  width: 100%;
}

/* submit button */
.button-input {
  font-family: 'Kalam', cursive;
  font-size: 1.5rem;
  margin-left : 1.5rem;
  padding: 1rem;
  box-sizing: border-box;
  color: #1a3454;
  background-color: #e0ffff;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color ease-in-out 0.3s;
}

.button-input:hover,
.button-input:focus {
  background-color: rgb(152, 200, 200);
  color: #1a3454;
}




/* text input */
.text-input {
  font-family: 'Kalam', cursive;
  font-size: 1.5rem;
  width: 100%;
  display: block;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 1px solid #e0ffff;
}
.text-input:focus,
.text-input:active {
  border: 1px solid lightseagreen;
}

.text-input.error {
  color: #e74e42;
}

/* error message */
.error-msg {
  background-color: #e74e42;
  color: white;
  padding: 0.5rem;
  box-sizing: border-box;
}



/* search-suggestions */
.search-suggestions {
  margin-top: 1px;
  border-radius: 0.5rem;
  overflow: hidden;
}
.search-suggestions li {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  background-color: #e0ffff;
  color: #1a3454;
  border: 1px solid #1a3454;
  cursor: pointer;
}
.search-suggestions li:hover,
.search-suggestions li:focus {
  background-color: rgb(152, 200, 200);
}
.quote-meta {
  font-weight: bold;
  font-size: 1.25rem;
}
.chevron {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}


/* no results */
.search-suggestions li.no-results {
  background-color: var(--red-dark);
  color: white;
}

